<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337426779657-15gubl2b0ju3aju4bsqru68rjsg0ervd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337426779657-15gubl2b0ju3aju4bsqru68rjsg0ervd</string>
	<key>API_KEY</key>
	<string>AIzaSyBr6msBhsDZUdyf3iBvpSQOb84nC5LAVQo</string>
	<key>GCM_SENDER_ID</key>
	<string>337426779657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseProject</string>
	<key>PROJECT_ID</key>
	<string>my-first-project-802c7</string>
	<key>STORAGE_BUCKET</key>
	<string>my-first-project-802c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337426779657:ios:566c61cd855b0d0e84b2d8</string>
</dict>
</plist>